* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #ffc4ff, #77b9d1);
}
  nav{
    width: 90%;
    position: sticky;
    margin: 2vh auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 10vh;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 1 2vh;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
  /* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: pink;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: gainsboro;}
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 50px;
  }
  
  .card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: rgb(255, 254, 254);
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111;
    position: relative;
    transition: 0.4s;
 }
  .card__caption {
    background-color: #bbf1faa6;
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
 }
  .card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
 }
  .card__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbb;
 }
  .card__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
 }
  .card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
 }
  .card__stats {
    margin: 1em 0;
    width: 100%;
 }
  .card__stats th {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: right;
    font-weight: 300;
 }
  .card__stats th, .card__stats td {
    width: 50%;
    padding: 0.25em 0.5em 0;
 }
  .card__abilities {
    display: flex;
    justify-content: space-between;
 }
  .card__ability {
    margin-top: 1em;
    flex: 1 0;
 }
  .card--normal {
    background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
    box-shadow: 0px 5px 20px -10px #3a1c71;
 }
  .card--normal .card__type {
    background-color: #c08a53;
 }
  .card--water {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
 }
  .card--water .card__type {
    background-color: #1cb5e0;
 }
  .card--electric {
    background: linear-gradient(90deg, rgba(255, 222, 0, 1) 34%, rgba(232, 255, 153, 1) 83%);
 }
  .card--electric .card__type {
    background-color: #000;
 }
  .card--fire {
    background: linear-gradient(0deg, rgba(199, 24, 0, 1) 10%, rgba(252, 194, 69, 1) 100%);
 }
  .card--fire .card__type {
    background-color: rgba(199, 24, 0, 1);
 }
  .card--psychic {
    background: linear-gradient(140deg, rgba(255, 167, 249, 1) 0%, rgba(255, 44, 195, 1) 39%, rgba(255, 227, 167, 1) 100%);
 }
  .card--psychic .card__type {
    background: #ff2cc3;
 }
  .card--dark {
    background: linear-gradient(20deg, rgba(25, 25, 25, 1) 0%, rgba(16, 11, 50, 1) 33%, rgba(92, 2, 73, 1) 100%);
 }
  .card--dark .card__type {
    background: #5c0249;
 }
  .card--grass {
    background: linear-gradient(140deg, rgba(196, 218, 61, 1) 0%, rgba(110, 127, 14, 1) 69%, rgba(39, 80, 9, 1) 100%);
 }
  .card--grass .card__type {
    background: #6e7f0e;
 }
  .card--ice {
    background: linear-gradient(230deg, rgba(202, 234, 246, 1) 0%, rgba(160, 234, 241, 1) 46%, rgba(111, 184, 235, 1) 100%);
 }
  .card--ice .card__type {
    background: #6fb8eb;
 }
  .card--fairy {
    background: linear-gradient(45deg, rgb(134, 245, 253) 0%, rgb(176, 250, 255) 34%, rgba(255, 166, 185, 1) 71%, rgb(255, 138, 235) 100%);
 }
  .card--fairy .card__type {
    background: #ff8a95;
 }
  .card:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-10px);
 }
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(214, 124, 199);
    text-align:center;
    transition: all 0.2s;
    }
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
@media all and (max-width:30em){
a.button1{
    display:block;
    margin:0.4em auto;
    }
}
.Privacy{
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}
