* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #ffc4ff, #77b9d1);
}
  nav{
    width: 90%;
    position: sticky;
    margin: 2vh auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 10vh;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 1 2vh;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
  /* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: pink;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: gainsboro;}
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 50px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:2%;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(214, 124, 199);
    text-align:center;
    transition: all 0.2s;
    }
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
@media all and (max-width:30em){
a.button1{
    display:block;
    margin:0.4em auto;
    }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
body {
	 font-family: "Open Sans", Helvetica, sans-serif;
	 text-align: center;
	 margin: 20px;
     background: linear-gradient(to left, #ffc4ff, #77b9d1);
}
nav{
    width: 100%;
    position: sticky;
    margin: 2% auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 10%;
}
.logo img{
    width: 10vh;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 1 2vh;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
 img {
	 max-height: 150px;
	 margin: auto;
	 display: inline-block;
}
.box {
    border: 5px solid plum;
    box-sizing: border-box;
}
.umb-box {
    border: 5px dashed goldenrod;
    box-sizing: border-box;
}
.insights .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
.insights .graph {
    position: relative;
    min-width: 0;
}
.insights .numbers .umb-box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
}
.insights .numbers .umb-box-content div {
    background: rgba(0,0,0,0.15);
    text-align: center;
    padding: 10px;
}
.insights .numbers .umb-box-content span {
    font-size: 18px;
}
.insights .numbers .umb-box-content span.positive {
    color: #1fb572;
}
.insights .numbers .umb-box-content span.negative {
    color: #d42054;
}
.insights .numbers .umb-box-content h1 {
    font-weight: bold;
    margin: 0;
}
@media only screen and (max-width: 1600px) {
    .insights .grid-container {
        background: rgba(255,0,0,0.1);
        grid-template-columns: 1fr;
   }
}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: pink;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: gainsboro;}
  .card {
    display: inline-block;
    width: 35vh;
    padding: 10px;
    border-radius: 15px;
    margin: 3vh auto;
    background: #ddd;
    text-align: center;
    box-shadow: 0px 5px 20px -10px #111;
    position: relative;
    transition: 0.4s;
}
.card__caption {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
}
.card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
}
.card__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbb;
    
}
.card__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}
.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.card__stats {
    margin: 1em 0;
    width: 100%;
}
.card__stats th {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: right;
    font-weight: 300;
}
.card__stats th, .card__stats td {
    width: 50%;
    padding: 0.25em 0.5em 0;
}
.card__abilities {
    display: flex;
    justify-content: space-between;
}
.card__ability {
    margin-top: 1em;
    flex: 1 0;
}
.card--fairy {
    background: linear-gradient(45deg, rgba(255, 230, 240, 1) 0%, rgba(255, 197, 224, 1) 34%, rgba(255, 166, 185, 1) 71%, rgba(255, 138, 149, 1) 100%);
}
.card--fairy .card__type {
    background: #ff8a95;
}
.card:nth-child(1) {
    transform: translateY(0px) rotate(4deg);
}
.card:nth-child(2) {
    transform: translateY(0px) rotate(-3deg);
}
.card:nth-child(3) {
    transform: translateY(0px) rotate(-1deg);
}
.card:nth-child(4) {
    transform: translateY(0px) rotate(4deg);
}
.card:nth-child(5) {
    transform: translateY(0px) rotate(0deg);
}
.card:nth-child(6) {
    transform: translateY(0px) rotate(4deg);
}
.card:nth-child(7) {
    transform: translateY(0px) rotate(1deg);
}
.card:nth-child(8) {
    transform: translateY(0px) rotate(2deg);
}
.card:nth-child(9) {
    transform: translateY(0px) rotate(-1deg);
}
.card:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-10px);
}
.Forge{
  text-align: center;  
  line-height: 1.8;
}
.App{
  text-align: center;  
  line-height: 1.8;
  margin: 2%;

}